#######################################
# Makefile generated
#######################################
*.o
*.d
Matrix

#######################################
# ViM swap file
#######################################
*.swp

#######################################
# Other that may be lying around
#######################################
*.diff
*.txt
*.py

#######################################
# Mac OS folder attributes file
#######################################
.DS_Store
