#######################################
# Makefile generated
#######################################
*.o
*.d
Matrix

#######################################
# ViM swap file
#######################################
*.swp

#######################################
# Other that may be lying around
#######################################
*.diff
*.txt
*.py
out

#######################################
# SQLite3 database
#######################################
*.db

#######################################
# Mac OS folder attributes file
#######################################
.DS_Store
